@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');

.button1 {
    width: 200px;
    margin: 0px auto;
}

.button1 a {
    display: block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    color: #2d2d2d;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #f7484e;

}

.button1 a, .button1 p {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button1 p {
    display: block;
    height: 40px;
    width: 180px;
    margin: -50px 0 0 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: -1;
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    -ms-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}

/*HOVER*/
.button1:hover .bottom {
    margin: -10px 0 0 10px;
    line-height: 50px;
}

.button1:hover .top {
    margin: -80px 0 0 10px;
    line-height: 30px;
}

/*ACTIVE*/
.button1 a:active {
    background: #fff;

}

.button1:active .bottom {
    margin: -20px 0 0 10px;
}

.button1:active .top {
    margin: -70px 0 0 10px;
}

.hbutton{
    margin-bottom: 10px;
}